<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704955233349-uc5dcvagg9tsa92onvf4n3n0t59tpruj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704955233349-uc5dcvagg9tsa92onvf4n3n0t59tpruj</string>
	<key>API_KEY</key>
	<string>AIzaSyAXsWc2DxKuugR49SVadOe8BmoO-3YVelc</string>
	<key>GCM_SENDER_ID</key>
	<string>704955233349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timetabling</string>
	<key>PROJECT_ID</key>
	<string>timetabling-project</string>
	<key>STORAGE_BUCKET</key>
	<string>timetabling-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704955233349:ios:d3314591510ae60266df2c</string>
</dict>
</plist>